[Desktop Entry]
Type=Application
Name=RGB Control
Comment=Control fan, AIO, RAM and GPU LEDs
Comment[vi]=Điều khiển LED fan, AIO, RAM và card đồ hoạ
Exec=rgbctl gui
Icon=rgbctl
Categories=Utility;Settings;HardwareSettings;
Keywords=rgb;led;fan;aio;jonsbo;corsair;gigabyte;
